name: Terraform Azure Infra

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -var-file="terraform.tfvars"

      - name: Terraform Apply (main branch)
        if: github.ref == 'refs/heads/main'
        run: terraform apply -var-file="terraform.tfvars" -auto-approve

      - name: Terraform Outputs
        run: |
          echo "RESOURCE_GROUP=$(terraform output -raw resource_group)" >> $GITHUB_ENV
          echo "AKS_NAME=$(terraform output -raw aks_name)" >> $GITHUB_ENV
          echo "ACR_LOGIN_SERVER=$(terraform output -raw acr_login_server)" >> $GITHUB_ENV
          echo "INGRESS_PUBLIC_IP=$(terraform output -raw ingress_public_ip)" >> $GITHUB_ENV
          echo "LOCATION=$(terraform output -raw location)" >> $GITHUB_ENV

      - name: Print Infra Summary
        run: |
          echo "RG: $RESOURCE_GROUP"
          echo "AKS: $AKS_NAME"
          echo "ACR: $ACR_LOGIN_SERVER"
          echo "Ingress PIP: $INGRESS_PUBLIC_IP"
          echo "Location: $LOCATION"
